<footer id="footer" class="border-top bg-white fixed"style="height:50px;margin-top:600px;">
  <ul>
  <li class="list-inline-item"><img src="https://qumeru-media-preview.s3-ap-northeast-1.amazonaws.com/preview/Bootstrap/237/preview3/%E3%82%A4%E3%83%A9%E3%82%B9%E3%83%88111.png"style="height:50px"></li>
  <li class="list-inline-item"><a href="#">お問い合わせ</a></li>
  <li class="list-inline-item"><a href="#">採用情報</a></li>
  <li class="list-inline-item"><a href="#">運営会社</a></li>
  </ul>
</footer>